/* FONTS IMPORT */ 

@font-face {
    font-family: 'belloscript';
    src: url('Bello-Script.ttf');
}

@font-face {
    font-family: 'omnesbold';
    src: url('mnes-bold_bigfontsite.com.');
}



/*CSS HEADER DEBUT */

body {
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background: url('bodybackground.jpg');
    background-repeat: all;

    
}

header {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.9) ;
    box-shadow: 0px 5px 10px 5px grey;
    
    
}


.headerboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    

.headerbox2 {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    width: 60%;
    padding-right: 0px;
    padding-left: 0px;
}




.header_logoclick {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    
    
}


.header_logoclick:hover {
    -webkit-transform:scale(1.4); 
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4); 
    -o-transform:scale(1.4); 
    transform:scale(1.4);
}

#logoappfav {
   max-width: 100%;
   height: auto;
   width: 200px;
   /* ZOOM QUAND MOUSEOVER TEMPS */
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

#logoappfav:hover {
    max-width: 100%;
    height: auto;
    width: 200px;
    /* ZOOM QUAND MOUSEOVER SCALE */
    -webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
 }

#header_logofl {
    max-width: 100%;
    height: auto;
    width: 110px;
}

#header_logoshz {
    max-height: 100%;
    width: auto;
    height: 60px;
}


#header_logoclash {
    position: relative;
    bottom: 30px;
    max-width: 100%;
    height: auto;
    width: 130px;

    
}


/* CSS HEADER FIN */



/*CSS MAIN GENERAL START */

main {
    width: 80%;
    margin: 0% auto;
    background-color: rgba(255, 165, 0, 0.75);
    height: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}



.appboxcentrale {
   
    
   
}

.appboxbas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;

}

.appminibox {
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 20%;
    color: white;
}

.iconesbox {
    width: 100px;
    height: 100px; 
    padding-top: 10px;
    
}

.miniboxtitle {
    margin-top:30px;
    margin-bottom:30px;
}


.miniboxslogan {
    margin-bottom: 20px;
}




.miniboxtxt {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
}

.verspage {
    text-align: center;
}

.miniboxtitle {
    font-size: 30px;
}

.miniboxslogan {
    font-size: 20px;

}

.miniboxtxt {
    font-size:15px;
}

a {
    text-decoration: none;
    color: yellow;
}

/*CSS MAIN GENERAL END */


/* STYLE FREELETICS BOX START*/
#appminiboxfl {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    font-family:fantasy;
}


#descfreeletics {
    font-family:Oswald;
    font-weight: 600;
}


/* STYLE FREELETICS BOX END*/


/* STYLE SHAZAM BOX START */

#appminiboxshz {
    background-color: rgb(13, 140, 255);
    font-family:Lilita One;
    
}

#descshazam {
    font-family:Dosis;
    font-weight: 600;
    
}

/* STYLE SHAZAM BOX START */

/* STYLE BONBON BOX START*/


#appminiboxbb {
    background-color: rgb(255, 0, 154);
    font-family:belloscript;
}

#descbonbon {
    font-family:Courgette;
}


/* STYLE BONBON BOX END*/

/*CSS FOOTER DEBUT */

footer {
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.9) ;
    box-shadow: 0px 5px 10px 5px grey;
}

.boxiosvsandroid {
    display: flex;
    flex-direction: row;  
    padding-top: 20px;
}

.logofooter {
    height: 70px;
    width: 70px;
}











