/* FONTS IMPORT */ 

@import url(//db.onlinewebfonts.com/c/5ec42708a5dcf4ca2d7a044a2aa63d68?family=Freeletics+TheSans);


/*CSS HEADER DEBUT */

body {
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background: url('bodybackground.jpg');
    background-repeat: all;
    
}

header {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: rgba(236, 209, 150, 0.8) ;
    box-shadow: 0px 5px 10px 5px grey;
    
    
}


.headerboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    

.headerbox2 {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    width: 60%;
    padding-right: 0px;
    padding-left: 0px;
}




.header_logoclick {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    
    
}


.header_logoclick:hover {
    -webkit-transform:scale(1.4); 
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4); 
    -o-transform:scale(1.4); 
    transform:scale(1.4);
}

#logoappfav {
   max-width: 100%;
   height: auto;
   width: 200px;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

#logoappfav:hover {
    max-width: 100%;
    height: auto;
    width: 200px;
    -webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
 }

#header_logofl {
    max-width: 100%;
    height: auto;
    width: 110px;
}

#header_logoshz {
    max-height: 100%;
    width: auto;
    height: 60px;
}


#header_logoclash {
    position: relative;
    bottom: 30px;
    max-width: 100%;
    height: auto;
    width: 130px;

    
}


/* CSS HEADER FIN */



/*CSS MAIN GENERAL START */

main {
    width: 80%;
    margin: 0% auto;
    background-color: rgb(216, 191, 206, 0.8);
    height: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}


.appboxcentrale {
   
    
   
}

.appboxbas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;

}

.appminibox {
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 20%;
    color: white;
}

.iconesbox {
    width: 100px;
    height: 100px; 
    padding-top: 10px;
    
}

.miniboxtitle {
    margin-top:30px;
    margin-bottom:30px;
}


.miniboxslogan {
    margin-bottom: 20px;
}




.miniboxtxt {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
}

.verspage {
    text-align: center;
}


/*CSS MAIN GENERAL END */


/* STYLE FREELETICS BOX START*/
#appminiboxfl {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "Freeletics TheSans"; 
    src: url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.eot");
    src: url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.woff2") format("woff2"),
     url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/5ec42708a5dcf4ca2d7a044a2aa63d68.svg#Freeletics TheSans") format("svg"); 
}

#titlefreeletics {
    font-family:"Freeletics TheSans";
}


/* STYLE FREELETICS BOX END*/

#appminiboxshz {
    background-color: rgb(13, 140, 255);
}

#appminiboxbb {
    background-color: rgb(255, 0, 154);
}










