/* FONTS IMPORT */ 

@font-face {
    font-family: 'belloscript';
    src: url('fonts/Bello-Script.ttf');
}

@font-face {
    font-family: 'omnesbold';
    src: url('fonts/omnes-bold_bigfontsite.com.otf');
}



/*CSS HEADER DEBUT */

body {
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 0, 154);;

    
}

header {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.9) ;
    box-shadow: 0px 5px 10px 5px grey;
    
    
}


.headerboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    

.headerbox2 {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    width: 60%;
    padding-right: 0px;
    padding-left: 0px;
}




.header_logoclick {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
    
    
}


.header_logoclick:hover {
    -webkit-transform:scale(1.4); 
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4); 
    -o-transform:scale(1.4); 
    transform:scale(1.4);
}

#logoappfav {
   max-width: 100%;
   height: auto;
   width: 141px;
   /* ZOOM QUAND MOUSEOVER TEMPS */
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

#logoappfav:hover {
    max-width: 100%;
    height: auto;
    width: 141px;
    /* ZOOM QUAND MOUSEOVER SCALE */
    -webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
 }

#header_logofl {
    max-width: 100%;
    height: auto;
    width: 77px;
}

#header_logoshz {
    max-height: 100%;
    width: auto;
    height: 42px;
}


#header_logobonbon {
    position: relative;
    bottom: 30px;
    max-width: 100%;
    height: auto;
    width: 91px;

    
}


/* CSS HEADER FIN */

/* CSS FOOTER START*/

footer {
    width: 100%;
    background: rgba(255, 255, 255, 0.8) ;
    box-shadow: 10px 5px 10px 5px grey;
    margin:0px;
    
    
    
}


.footerboxes {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;;
    height: auto;
    width: auto;
    margin-top: 15px;
}

.footerbox {
    display: flex;
    flex-direction: column;
    margin-top:15px;
}

.footerapps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    
}
.footlogo {
    max-height: ;
    height: 50px;
    width:50px;
   
}


#footerboxfl {
    font-family:fantasy;
    color: black;
}

#footerboxsh {
    font-family: Lilita One;
    color: rgb(13, 140, 255);
}

#footerboxbb {
    font-family: belloscript;
    color: rgb(255, 0, 154)
}

.footboxtitle {

    font-size:17px;
}

.fapplogo {
    height:60px;
    width:60px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px 2px grey;
    margin-right:5px;
    margin-left:5px;
    border-radius:20%;
}

#contacts {
    font-family: Arial, Helvetica, sans-serif;
    padding-top:15px;
    text-align: center;
    position: relative;
    right:50px;
    top:15px;
    font-size:15px;
    background-color:hsla(2, 57%, 41%, 0.8);
    color: whitesmoke;
    margin-bottom:20px;
    border-radius:20%;
    padding:20px;
    


}

a {
    text-decoration: none;
    font-weight:900;
    color:whitesmoke;

}


/* CSS FOOTER END */



/*CSS MAIN GENERAL START */

main {
    width: 80%;
    margin: 0% auto;
    background-color:rgb(255, 0, 154);
    height: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-top:15px;
   
}


.boxentete {
    display: flex;
    flex-direction: column;
    text-align:center;
    color: white;
    font-family: belloscript;
    font-size:60px;
    margin-bottom:100px;
}



/* APPARITION LOGO  */

@keyframes bigger {
    0% {
        opacity:0; height:0px; width:0px;
    }

    100% {
        opacity:100; height:240px; width:240px;
    }

}

.logobb {opacity:0;}
.logobb{ animation:bigger 2s ease 0.6s forwards;
margin-bottom: 70px;
border: white 10px solid;
border-radius:50%;}






/* Animations des lettres */

@keyframes letters {
	0% {opacity:0;}
	100% {opacity:100;}
}

span {opacity:0;}
.l1  {animation:letters 0.05s ease 2050ms forwards;}
.l2  {animation:letters 0.05s ease 2100ms forwards;}
.l3  {animation:letters 0.05s ease 2150ms forwards;}
.l4  {animation:letters 0.05s ease 2200ms forwards;}
.l5  {animation:letters 0.05s ease 2250ms forwards;}
.l6  {animation:letters 0.05s ease 2300ms forwards;}
.l7  {animation:letters 0.05s ease 2350ms forwards;}
.l8  {animation:letters 0.05s ease 2400ms forwards;}
.l9  {animation:letters 0.05s ease 2450ms forwards;}
.l10 {animation:letters 0.05s ease 2500ms forwards;}
.l11 {animation:letters 0.05s ease 2550ms forwards;}
.l12 {animation:letters 0.05s ease 2600ms forwards;}
.l13 {animation:letters 0.05s ease 2650ms forwards;}
.l14 {animation:letters 0.05s ease 2700ms forwards;}
.l15 {animation:letters 0.05s ease 2750ms forwards;}
.l16 {animation:letters 0.05s ease 2800ms forwards;}
.l17 {animation:letters 0.05s ease 2850ms forwards;}
.l18 {animation:letters 0.05s ease 2900ms forwards;}
.l19 {animation:letters 0.05s ease 2950ms forwards;}
.l20 {animation:letters 0.05s ease 3000ms forwards;}
.l21 {animation:letters 0.05s ease 3050ms forwards;}
.l22 {animation:letters 0.05s ease 3100ms forwards;}
.l23 {animation:letters 0.05s ease 3150ms forwards;}
.l24 {animation:letters 0.05s ease 3200ms forwards;}


/* BOX HORIZONTAUX  DEBUT*/

.conteneurbox {
    display:flex;
    flex-direction: column;
}


.vbox {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 80px;
}

.vboxtitle {
    font-family: belloscript;
    font-size:35px;
    color: white;
    margin-bottom:60px;
    
}

.vboxtxt {
    font-family: Courgette;
    font-weight:600;
    text-align:justify;
    font-size:24px;
    padding-left: 40px;
}

.vboxscreen {
    width:100%;
    height: auto;
    width: 280px;
    margin-right:20px;
    
}

.vboxvideo {
    width:100%
    height:auto;
    width:280px;
    margin-right:20px;

}


li {
    text-decoration: none;
    margin-bottom:15px;
    font-size:18px;
}

#vboxtxtautres {
    text-align: center;
    display:flex;
    flex-direction: column;
    text-align:center;
    color: white;
    font-size:18px;
}

.autres {
    margin-bottom:
}

#lasttitle  {
    margin-top: 40px;
}

#lasthbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#vboxbottom {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 80px;
}
    

.downloadapp {
    width: 100%;
    height: auto;
    width: 300px;
    position: relative;
    margin-right: 60px;
    
    
}


.boxreseaux {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin-left:60px;
    



}


.logoreseaux {
    height: 70px;
    width: 70px;
    margin-right:20px;
    border-radius:20%;
}

#lebonbonreseaux {
    border: 2px white solid;
    border-radius: 50%;
}

/* BOX HORIZONTAUX FIN*/
